@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 39 83% 92%;
    --foreground: 160 13% 2%;
    --card: 39 83% 92%;
    --card-foreground: 160 13% 2%;
    --popover: 39 83% 92%;
    --popover-foreground: 160 13% 2%;
    --primary: 5 76% 44%;
    --primary-foreground: 39 83% 92%;
    --secondary: 160 13% 2%;
    --secondary-foreground: 39 83% 92%;
    --muted: 39 78% 92%;
    --muted-foreground: 160 13% 2%;
    --accent: 5 76% 44%;
    --accent-foreground: 39 83% 92%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 39 83% 92%;
    --border: 160 13% 2%;
    --input: 160 13% 2%;
    --ring: 5 76% 44%;
    --chart-1: 5 76% 44%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 39 83% 92%;
    --sidebar-foreground: 160 13% 2%;
    --sidebar-primary: 5 76% 44%;
    --sidebar-primary-foreground: 39 83% 92%;
    --sidebar-accent: 39 78% 92%;
    --sidebar-accent-foreground: 160 13% 2%;
    --sidebar-border: 160 13% 2%;
    --sidebar-ring: 5 76% 44%;
  }
  .dark {
    --background: 160 13% 2%;
    --foreground: 39 83% 92%;
    --card: 160 13% 2%;
    --card-foreground: 39 83% 92%;
    --popover: 160 13% 2%;
    --popover-foreground: 39 83% 92%;
    --primary: 5 76% 44%;
    --primary-foreground: 39 83% 92%;
    --secondary: 160 13% 2%;
    --secondary-foreground: 39 83% 92%;
    --muted: 160 13% 2%;
    --muted-foreground: 39 78% 92%;
    --accent: 5 76% 44%;
    --accent-foreground: 39 83% 92%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 39 83% 92%;
    --border: 160 13% 2%;
    --input: 160 13% 2%;
    --ring: 5 76% 44%;
    --chart-1: 5 76% 44%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 160 13% 2%;
    --sidebar-foreground: 39 83% 92%;
    --sidebar-primary: 5 76% 44%;
    --sidebar-primary-foreground: 39 83% 92%;
    --sidebar-accent: 160 13% 2%;
    --sidebar-accent-foreground: 39 83% 92%;
    --sidebar-border: 160 13% 2%;
    --sidebar-ring: 5 76% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
